lavel {
    display: inline-table;
    width: 150px;
    text-align: right;
    line-height: 70px
}

textarea,#name, #mail{
    width: 480px;
}

textarea{
    vertical-align: middle;
}


textarea, #name, #mail,#sex{
    margin-left: 10px;
}

.button{
    font-size: 2rem;
    position: relative;
    left: 300px;
}

.button :hover {
    background-color:gray;
    color: white;
}

.button1{
    background-color: black;
    color: white;
    padding: 1rem 2rem;
    font-weight: bold;
    box-shadow: 2px 2px 3px 1px #666;
    border-radius: 5px;
}


